@font-face {
  font-family: 'zondicons';
  src:  url('fonts/zondicons.eot?szmjzg');
  src:  url('fonts/zondicons.eot?szmjzg#iefix') format('embedded-opentype'),
    url('fonts/zondicons.ttf?szmjzg') format('truetype'),
    url('fonts/zondicons.woff?szmjzg') format('woff'),
    url('fonts/zondicons.svg?szmjzg#zondicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="zondi-"], [class*=" zondi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zondicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zondi-add-outline:before {
  content: "\e900";
}
.zondi-add-solid:before {
  content: "\e901";
}
.zondi-adjust:before {
  content: "\e902";
}
.zondi-airplane:before {
  content: "\e903";
}
.zondi-album:before {
  content: "\e904";
}
.zondi-align-center:before {
  content: "\e905";
}
.zondi-align-justified:before {
  content: "\e906";
}
.zondi-align-left:before {
  content: "\e907";
}
.zondi-align-right:before {
  content: "\e908";
}
.zondi-anchor:before {
  content: "\e909";
}
.zondi-announcement:before {
  content: "\e90a";
}
.zondi-apparel:before {
  content: "\e90b";
}
.zondi-arrow-down:before {
  content: "\e90c";
}
.zondi-arrow-left:before {
  content: "\e90d";
}
.zondi-arrow-outline-down:before {
  content: "\e90e";
}
.zondi-arrow-outline-left:before {
  content: "\e90f";
}
.zondi-arrow-outline-right:before {
  content: "\e910";
}
.zondi-arrow-outline-up:before {
  content: "\e911";
}
.zondi-arrow-right:before {
  content: "\e912";
}
.zondi-arrow-thick-down:before {
  content: "\e913";
}
.zondi-arrow-thick-left:before {
  content: "\e914";
}
.zondi-arrow-thick-right:before {
  content: "\e915";
}
.zondi-arrow-thick-up:before {
  content: "\e916";
}
.zondi-arrow-thin-down:before {
  content: "\e917";
}
.zondi-arrow-thin-left:before {
  content: "\e918";
}
.zondi-arrow-thin-right:before {
  content: "\e919";
}
.zondi-arrow-thin-up:before {
  content: "\e91a";
}
.zondi-arrow-up:before {
  content: "\e91b";
}
.zondi-artist:before {
  content: "\e91c";
}
.zondi-at-symbol:before {
  content: "\e91d";
}
.zondi-attachment:before {
  content: "\e91e";
}
.zondi-backspace:before {
  content: "\e91f";
}
.zondi-backward:before {
  content: "\e920";
}
.zondi-backward-step:before {
  content: "\e921";
}
.zondi-badge:before {
  content: "\e922";
}
.zondi-battery-full:before {
  content: "\e923";
}
.zondi-battery-half:before {
  content: "\e924";
}
.zondi-battery-low:before {
  content: "\e925";
}
.zondi-beverage:before {
  content: "\e926";
}
.zondi-block:before {
  content: "\e927";
}
.zondi-bluetooth:before {
  content: "\e928";
}
.zondi-bolt:before {
  content: "\e929";
}
.zondi-book-reference:before {
  content: "\e92a";
}
.zondi-bookmark:before {
  content: "\e92b";
}
.zondi-bookmarkcopy2:before {
  content: "\e92c";
}
.zondi-bookmarkcopy3:before {
  content: "\e92d";
}
.zondi-bookmark-outline:before {
  content: "\e92e";
}
.zondi-bookmark-outline-add:before {
  content: "\e92f";
}
.zondi-border-all:before {
  content: "\e930";
}
.zondi-border-bottom:before {
  content: "\e931";
}
.zondi-border-horizontal:before {
  content: "\e932";
}
.zondi-border-inner:before {
  content: "\e933";
}
.zondi-border-left:before {
  content: "\e934";
}
.zondi-border-none:before {
  content: "\e935";
}
.zondi-border-outer:before {
  content: "\e936";
}
.zondi-border-right:before {
  content: "\e937";
}
.zondi-border-top:before {
  content: "\e938";
}
.zondi-border-vertical:before {
  content: "\e939";
}
.zondi-box:before {
  content: "\e93a";
}
.zondi-brightness-down:before {
  content: "\e93b";
}
.zondi-brightness-up:before {
  content: "\e93c";
}
.zondi-browser-window:before {
  content: "\e93d";
}
.zondi-browser-window-new:before {
  content: "\e93e";
}
.zondi-browser-window-open:before {
  content: "\e93f";
}
.zondi-bug:before {
  content: "\e940";
}
.zondi-buoy:before {
  content: "\e941";
}
.zondi-calculator:before {
  content: "\e942";
}
.zondi-calendar:before {
  content: "\e943";
}
.zondi-camera:before {
  content: "\e944";
}
.zondi-chart:before {
  content: "\e945";
}
.zondi-chart-bar:before {
  content: "\e946";
}
.zondi-chart-pie:before {
  content: "\e947";
}
.zondi-chat-bubble-dots:before {
  content: "\e948";
}
.zondi-checkmark:before {
  content: "\e949";
}
.zondi-checkmark-outline:before {
  content: "\e94a";
}
.zondi-cheveron-down:before {
  content: "\e94b";
}
.zondi-cheveron-left:before {
  content: "\e94c";
}
.zondi-cheveron-outline-down:before {
  content: "\e94d";
}
.zondi-cheveron-outline-left:before {
  content: "\e94e";
}
.zondi-cheveron-outline-right:before {
  content: "\e94f";
}
.zondi-cheveron-outline-up:before {
  content: "\e950";
}
.zondi-cheveron-right:before {
  content: "\e951";
}
.zondi-cheveron-up:before {
  content: "\e952";
}
.zondi-clipboard:before {
  content: "\e953";
}
.zondi-close:before {
  content: "\e954";
}
.zondi-close-outline:before {
  content: "\e955";
}
.zondi-close-solid:before {
  content: "\e956";
}
.zondi-cloud:before {
  content: "\e957";
}
.zondi-cloud-upload:before {
  content: "\e958";
}
.zondi-code:before {
  content: "\e959";
}
.zondi-coffee:before {
  content: "\e95a";
}
.zondi-cog:before {
  content: "\e95b";
}
.zondi-color-palette:before {
  content: "\e95c";
}
.zondi-compose:before {
  content: "\e95d";
}
.zondi-computer-desktop:before {
  content: "\e95e";
}
.zondi-computer-laptop:before {
  content: "\e95f";
}
.zondi-conversation:before {
  content: "\e960";
}
.zondi-copy:before {
  content: "\e961";
}
.zondi-credit-card:before {
  content: "\e962";
}
.zondi-currency-dollar:before {
  content: "\e963";
}
.zondi-dashboard:before {
  content: "\e964";
}
.zondi-date-add:before {
  content: "\e965";
}
.zondi-dial-pad:before {
  content: "\e966";
}
.zondi-directions:before {
  content: "\e967";
}
.zondi-document:before {
  content: "\e968";
}
.zondi-document-add:before {
  content: "\e969";
}
.zondi-dots-horizontal-double:before {
  content: "\e96a";
}
.zondi-dots-horizontal-triple:before {
  content: "\e96b";
}
.zondi-download:before {
  content: "\e96c";
}
.zondi-duplicate:before {
  content: "\e96d";
}
.zondi-edit-copy:before {
  content: "\e96e";
}
.zondi-edit-crop:before {
  content: "\e96f";
}
.zondi-edit-cut:before {
  content: "\e970";
}
.zondi-edit-pencil:before {
  content: "\e971";
}
.zondi-education:before {
  content: "\e972";
}
.zondi-envelope:before {
  content: "\e973";
}
.zondi-exclamation-outline:before {
  content: "\e974";
}
.zondi-exclamation-solid:before {
  content: "\e975";
}
.zondi-explore:before {
  content: "\e976";
}
.zondi-factory:before {
  content: "\e977";
}
.zondi-fast-forward:before {
  content: "\e978";
}
.zondi-fast-rewind:before {
  content: "\e979";
}
.zondi-film:before {
  content: "\e97a";
}
.zondi-filter:before {
  content: "\e97b";
}
.zondi-flag:before {
  content: "\e97c";
}
.zondi-flashlight:before {
  content: "\e97d";
}
.zondi-folder:before {
  content: "\e97e";
}
.zondi-folder-outline:before {
  content: "\e97f";
}
.zondi-folder-outline-add:before {
  content: "\e980";
}
.zondi-format-bold:before {
  content: "\e981";
}
.zondi-format-font-size:before {
  content: "\e982";
}
.zondi-format-italic:before {
  content: "\e983";
}
.zondi-format-text-size:before {
  content: "\e984";
}
.zondi-format-underline:before {
  content: "\e985";
}
.zondi-forward:before {
  content: "\e986";
}
.zondi-forward-step:before {
  content: "\e987";
}
.zondi-gift:before {
  content: "\e988";
}
.zondi-globe:before {
  content: "\e989";
}
.zondi-hand-stop:before {
  content: "\e98a";
}
.zondi-hard-drive:before {
  content: "\e98b";
}
.zondi-headphones:before {
  content: "\e98c";
}
.zondi-heart:before {
  content: "\e98d";
}
.zondi-home:before {
  content: "\e98e";
}
.zondi-hot:before {
  content: "\e98f";
}
.zondi-hour-glass:before {
  content: "\e990";
}
.zondi-inbox:before {
  content: "\e991";
}
.zondi-inbox-check:before {
  content: "\e992";
}
.zondi-inbox-download:before {
  content: "\e993";
}
.zondi-inbox-full:before {
  content: "\e994";
}
.zondi-indent-decrease:before {
  content: "\e995";
}
.zondi-indent-increase:before {
  content: "\e996";
}
.zondi-information-outline:before {
  content: "\e997";
}
.zondi-information-solid:before {
  content: "\e998";
}
.zondi-key:before {
  content: "\e999";
}
.zondi-keyboard:before {
  content: "\e99a";
}
.zondi-layers:before {
  content: "\e99b";
}
.zondi-library:before {
  content: "\e99c";
}
.zondi-light-bulb:before {
  content: "\e99d";
}
.zondi-link:before {
  content: "\e99e";
}
.zondi-list:before {
  content: "\e99f";
}
.zondi-list-add:before {
  content: "\e9a0";
}
.zondi-list-bullet:before {
  content: "\e9a1";
}
.zondi-load-balancer:before {
  content: "\e9a2";
}
.zondi-location:before {
  content: "\e9a3";
}
.zondi-location-current:before {
  content: "\e9a4";
}
.zondi-location-food:before {
  content: "\e9a5";
}
.zondi-location-gas-station:before {
  content: "\e9a6";
}
.zondi-location-hotel:before {
  content: "\e9a7";
}
.zondi-location-marina:before {
  content: "\e9a8";
}
.zondi-location-park:before {
  content: "\e9a9";
}
.zondi-location-restroom:before {
  content: "\e9aa";
}
.zondi-location-shopping:before {
  content: "\e9ab";
}
.zondi-lock-closed:before {
  content: "\e9ac";
}
.zondi-lock-open:before {
  content: "\e9ad";
}
.zondi-map:before {
  content: "\e9ae";
}
.zondi-menu:before {
  content: "\e9af";
}
.zondi-mic:before {
  content: "\e9b0";
}
.zondi-minus-outline:before {
  content: "\e9b1";
}
.zondi-minus-solid:before {
  content: "\e9b2";
}
.zondi-mobile-devices:before {
  content: "\e9b3";
}
.zondi-mood-happy-outline:before {
  content: "\e9b4";
}
.zondi-mood-happy-solid:before {
  content: "\e9b5";
}
.zondi-mood-neutral-outline:before {
  content: "\e9b6";
}
.zondi-mood-neutral-solid:before {
  content: "\e9b7";
}
.zondi-mood-sad-outline:before {
  content: "\e9b8";
}
.zondi-mood-sad-solid:before {
  content: "\e9b9";
}
.zondi-mouse:before {
  content: "\e9ba";
}
.zondi-music-album:before {
  content: "\e9bb";
}
.zondi-music-artist:before {
  content: "\e9bc";
}
.zondi-music-notes:before {
  content: "\e9bd";
}
.zondi-music-playlist:before {
  content: "\e9be";
}
.zondi-navigation-more:before {
  content: "\e9bf";
}
.zondi-network:before {
  content: "\e9c0";
}
.zondi-news-paper:before {
  content: "\e9c1";
}
.zondi-notification:before {
  content: "\e9c2";
}
.zondi-notifications:before {
  content: "\e9c3";
}
.zondi-notifications-outline:before {
  content: "\e9c4";
}
.zondi-paste:before {
  content: "\e9c5";
}
.zondi-pause:before {
  content: "\e9c6";
}
.zondi-pause-outline:before {
  content: "\e9c7";
}
.zondi-pause-solid:before {
  content: "\e9c8";
}
.zondi-pen-tool:before {
  content: "\e9c9";
}
.zondi-phone:before {
  content: "\e9ca";
}
.zondi-photo:before {
  content: "\e9cb";
}
.zondi-php-elephant:before {
  content: "\e9cc";
}
.zondi-pin:before {
  content: "\e9cd";
}
.zondi-play:before {
  content: "\e9ce";
}
.zondi-play-outline:before {
  content: "\e9cf";
}
.zondi-playlist:before {
  content: "\e9d0";
}
.zondi-plugin:before {
  content: "\e9d1";
}
.zondi-portfolio:before {
  content: "\e9d2";
}
.zondi-printer:before {
  content: "\e9d3";
}
.zondi-pylon:before {
  content: "\e9d4";
}
.zondi-question:before {
  content: "\e9d5";
}
.zondi-queue:before {
  content: "\e9d6";
}
.zondi-radar:before {
  content: "\e9d7";
}
.zondi-radarcopy2:before {
  content: "\e9d8";
}
.zondi-radio:before {
  content: "\e9d9";
}
.zondi-refresh:before {
  content: "\e9da";
}
.zondi-reload:before {
  content: "\e9db";
}
.zondi-reply:before {
  content: "\e9dc";
}
.zondi-reply-all:before {
  content: "\e9dd";
}
.zondi-repost:before {
  content: "\e9de";
}
.zondi-save-disk:before {
  content: "\e9df";
}
.zondi-screen-full:before {
  content: "\e9e0";
}
.zondi-search:before {
  content: "\e9e1";
}
.zondi-send:before {
  content: "\e9e2";
}
.zondi-servers:before {
  content: "\e9e3";
}
.zondi-share:before {
  content: "\e9e4";
}
.zondi-share-01:before {
  content: "\e9e5";
}
.zondi-share-alt:before {
  content: "\e9e6";
}
.zondi-shield:before {
  content: "\e9e7";
}
.zondi-shopping-cart:before {
  content: "\e9e8";
}
.zondi-show-sidebar:before {
  content: "\e9e9";
}
.zondi-shuffle:before {
  content: "\e9ea";
}
.zondi-stand-by:before {
  content: "\e9eb";
}
.zondi-star-full:before {
  content: "\e9ec";
}
.zondi-station:before {
  content: "\e9ed";
}
.zondi-step-backward:before {
  content: "\e9ee";
}
.zondi-step-forward:before {
  content: "\e9ef";
}
.zondi-stethoscope:before {
  content: "\e9f0";
}
.zondi-store-front:before {
  content: "\e9f1";
}
.zondi-stroke-width:before {
  content: "\e9f2";
}
.zondi-subdirectory-left:before {
  content: "\e9f3";
}
.zondi-subdirectory-right:before {
  content: "\e9f4";
}
.zondi-swap:before {
  content: "\e9f5";
}
.zondi-tablet:before {
  content: "\e9f6";
}
.zondi-tag:before {
  content: "\e9f7";
}
.zondi-target:before {
  content: "\e9f8";
}
.zondi-text-box:before {
  content: "\e9f9";
}
.zondi-text-decoration:before {
  content: "\e9fa";
}
.zondi-thermometer:before {
  content: "\e9fb";
}
.zondi-thumbs-down:before {
  content: "\e9fc";
}
.zondi-thumbs-up:before {
  content: "\e9fd";
}
.zondi-ticket:before {
  content: "\e9fe";
}
.zondi-time:before {
  content: "\e9ff";
}
.zondi-timer:before {
  content: "\ea00";
}
.zondi-toolscopy:before {
  content: "\ea01";
}
.zondi-translate:before {
  content: "\ea02";
}
.zondi-trash:before {
  content: "\ea03";
}
.zondi-travel:before {
  content: "\ea04";
}
.zondi-travel-bus:before {
  content: "\ea05";
}
.zondi-travel-car:before {
  content: "\ea06";
}
.zondi-travel-case:before {
  content: "\ea07";
}
.zondi-travel-taxi-cab:before {
  content: "\ea08";
}
.zondi-travel-train:before {
  content: "\ea09";
}
.zondi-travel-walk:before {
  content: "\ea0a";
}
.zondi-trophy:before {
  content: "\ea0b";
}
.zondi-tuning:before {
  content: "\ea0c";
}
.zondi-upload:before {
  content: "\ea0d";
}
.zondi-usb:before {
  content: "\ea0e";
}
.zondi-user:before {
  content: "\ea0f";
}
.zondi-user-add:before {
  content: "\ea10";
}
.zondi-user-group:before {
  content: "\ea11";
}
.zondi-user-solid-circle:before {
  content: "\ea12";
}
.zondi-user-solid-square:before {
  content: "\ea13";
}
.zondi-vector:before {
  content: "\ea14";
}
.zondi-video-camera:before {
  content: "\ea15";
}
.zondi-view-carousel:before {
  content: "\ea16";
}
.zondi-view-column:before {
  content: "\ea17";
}
.zondi-view-hide:before {
  content: "\ea18";
}
.zondi-view-list:before {
  content: "\ea19";
}
.zondi-view-show:before {
  content: "\ea1a";
}
.zondi-view-tile:before {
  content: "\ea1b";
}
.zondi-volume-down:before {
  content: "\ea1c";
}
.zondi-volume-mute:before {
  content: "\ea1d";
}
.zondi-volume-off:before {
  content: "\ea1e";
}
.zondi-volume-up:before {
  content: "\ea1f";
}
.zondi-wallet:before {
  content: "\ea20";
}
.zondi-watch:before {
  content: "\ea21";
}
.zondi-window:before {
  content: "\ea22";
}
.zondi-window-new:before {
  content: "\ea23";
}
.zondi-window-open:before {
  content: "\ea24";
}
.zondi-wrench:before {
  content: "\ea25";
}
.zondi-yin-yang:before {
  content: "\ea26";
}
.zondi-zoom-in:before {
  content: "\ea27";
}
.zondi-zoom-out:before {
  content: "\ea28";
}
